<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="BankManagementSystemFrame">
		<size>448,216</size>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>16,16</pos>
			<size>432,200</size>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="lblLogin" member="yes">
				<label>Login:</label>
				<pos>176,16</pos>
				<size>88,24</size>
				<font>
					<size>16</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Times New Roman</face>
				</font>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txfUName" member="yes">
				<value>Employee ID</value>
				<pos>184,72</pos>
				<size>200,21</size>
				<handler function="OnTextCtrl1Text" entry="EVT_TEXT" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="lblEmID" member="yes">
				<label>Enter employee ID: </label>
				<pos>48,72</pos>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txfPass" member="yes">
				<value>Password</value>
				<pos>184,112</pos>
				<size>200,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="lblPass" member="yes">
				<label>Enter password:</label>
				<pos>48,112</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="btnLogin" member="yes">
				<label>Login</label>
				<pos>184,160</pos>
				<handler function="OnbtnLoginClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="btnReg" member="yes">
				<label>Register</label>
				<pos>328,160</pos>
				<handler function="OnbtnRegClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="btnExit" member="yes">
				<label>Exit</label>
				<pos>48,160</pos>
				<handler function="OnbtnExitClick" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
