<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="ClientFunctionsForm">
		<size>455,425</size>
		<id_arg>0</id_arg>
		<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
			<pos>0,8</pos>
			<size>544,397</size>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<pos>-28,-28</pos>
					<size>495,371</size>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="lblCFunct" member="yes">
						<label>Client Functions</label>
						<pos>168,24</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="lblCName" member="yes">
						<label>Name:</label>
						<pos>32,88</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT3" variable="lblCSAID" member="yes">
						<label>ID Number: </label>
						<pos>32,128</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT4" variable="lblCConNum" member="yes">
						<label>Contact number:</label>
						<pos>32,160</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT5" variable="lblCAddress" member="yes">
						<label>Physical Address:</label>
						<pos>32,192</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT6" variable="lblCID" member="yes">
						<label>Client Number:</label>
						<pos>32,56</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txfCID" member="yes">
						<pos>200,56</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txfCName" member="yes">
						<pos>200,88</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="txfCSAID" member="yes">
						<pos>200,120</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="txfCConNum" member="yes">
						<pos>200,152</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="txfCAddress" member="yes">
						<pos>200,184</pos>
					</object>
					<object class="wxButton" name="ID_BUTTON1" variable="btnCCreate" member="yes">
						<label>Create</label>
						<pos>24,352</pos>
						<handler function="OnbtnCCreateClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON2" variable="btnCBack" member="yes">
						<label>Back</label>
						<pos>344,328</pos>
						<handler function="OnbtnCBackClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON3" variable="btnCExit" member="yes">
						<label>Exit</label>
						<pos>344,352</pos>
						<handler function="OnbtnCExitClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON4" variable="btnCSearch" member="yes">
						<label>Search</label>
						<pos>336,56</pos>
						<handler function="OnbtnCSearchClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON5" variable="btnCNew" member="yes">
						<label>New</label>
						<pos>336,88</pos>
						<handler function="OnbtnCNewClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxPanel" name="ID_PANEL2" variable="pnlCAccount" member="yes">
						<pos>16,216</pos>
						<size>408,88</size>
						<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="txfCOAmt" member="yes">
							<pos>184,8</pos>
						</object>
						<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="RadioButton2" member="yes">
							<label>Savings</label>
							<pos>224,32</pos>
							<handler function="OnRadioButton2Select" entry="EVT_RADIOBUTTON" />
						</object>
						<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="RadioButton1" member="yes">
							<label>Cheque</label>
							<pos>120,32</pos>
							<handler function="OnRadioButton1Select" entry="EVT_RADIOBUTTON" />
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT7" variable="lblCOAmt" member="yes">
							<label>Opening amount:</label>
							<pos>16,16</pos>
						</object>
						<object class="wxStaticText" name="ID_STATICTEXT20" variable="lblInterest" member="yes">
							<label>Interest:</label>
							<pos>16,64</pos>
						</object>
						<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="txfInterest" member="yes">
							<pos>184,56</pos>
						</object>
					</object>
					<object class="wxButton" name="ID_BUTTON8" variable="btnCUpdate" member="yes">
						<label>Update</label>
						<pos>104,352</pos>
						<handler function="OnbtnCUpdateClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON9" variable="btnCCancel" member="yes">
						<label>Cancel</label>
						<pos>184,352</pos>
						<handler function="OnbtnCCancelClick" entry="EVT_BUTTON" />
					</object>
				</object>
				<label>Client Functions</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel2" member="yes">
					<pos>8,10</pos>
					<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText2" member="yes">
						<label>Client name: </label>
						<pos>232,48</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText3" member="yes">
						<label>Client number:</label>
						<pos>24,48</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText1" member="yes">
						<label>Account number:</label>
						<pos>24,96</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText4" member="yes">
						<label>Amount:</label>
						<pos>232,96</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText5" member="yes">
						<label>Number of loans:</label>
						<pos>24,168</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText6" member="yes">
						<label>Total amount:</label>
						<pos>24,192</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText7" member="yes">
						<label>Next repayment amount:</label>
						<pos>24,216</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText8" member="yes">
						<label>Next repayment date:</label>
						<pos>240,216</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText11" member="yes">
						<label>Total assets:</label>
						<pos>24,312</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticText12" member="yes">
						<label>Total liability:</label>
						<pos>248,312</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT21" variable="lblClientID" member="yes">
						<label></label>
						<pos>112,48</pos>
						<size>32,13</size>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT22" variable="lblClientName" member="yes">
						<label></label>
						<pos>304,48</pos>
						<size>24,13</size>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT23" variable="lblAccID" member="yes">
						<label></label>
						<pos>120,96</pos>
						<size>24,13</size>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT24" variable="lblAccBal" member="yes">
						<label></label>
						<pos>288,96</pos>
						<size>32,13</size>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT16" variable="lblIntEarnedText" member="yes">
						<label>Interest earned per month:</label>
						<pos>24,128</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT17" variable="lblInterestEarned" member="yes">
						<label></label>
						<pos>184,128</pos>
						<size>56,13</size>
					</object>
				</object>
				<label>Client Summary</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel3" member="yes">
					<pos>186,9</pos>
					<object class="wxStaticText" name="ID_STATICTEXT25" variable="StaticText9" member="yes">
						<label>Account ID:</label>
						<pos>24,64</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT26" variable="StaticText10" member="yes">
						<label>Account balance:</label>
						<pos>24,104</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="txfAccID" member="yes">
						<pos>136,64</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="txfAccBal" member="yes">
						<pos>136,104</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT27" variable="lblAccType" member="yes">
						<label>Account type:</label>
						<pos>24,152</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT29" variable="lblAccInt" member="yes">
						<label>Account interest:</label>
						<pos>24,200</pos>
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL11" variable="txfAccInt" member="yes">
						<pos>136,200</pos>
					</object>
					<object class="wxButton" name="ID_BUTTON6" variable="btnAccWithdraw" member="yes">
						<label>Withdraw</label>
						<pos>88,272</pos>
						<handler function="OnbtnAccWithdrawClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON7" variable="btnAccDeposit" member="yes">
						<label>Deposit</label>
						<pos>248,272</pos>
						<handler function="OnbtnAccDepositClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON10" variable="btnAccBack" member="yes">
						<label>Back</label>
						<pos>360,336</pos>
						<handler function="OnbtnAccBackClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON11" variable="btnAccExit" member="yes">
						<label>Exit</label>
						<pos>360,360</pos>
						<handler function="OnbtnAccExitClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON12" variable="btnAccUpdate" member="yes">
						<label>Update</label>
						<pos>16,360</pos>
						<handler function="OnbtnAccUpdateClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT30" variable="lblPercent" member="yes">
						<label>%</label>
						<pos>248,200</pos>
						<size>26,21</size>
					</object>
					<object class="wxChoice" name="ID_CHOICE1" variable="cmbAccType" member="yes">
						<content>
							<item>Savings</item>
							<item>Cheque</item>
						</content>
						<selection>0</selection>
						<pos>136,152</pos>
						<size>104,21</size>
						<handler function="OncmbAccTypeSelect" entry="EVT_CHOICE" />
					</object>
				</object>
				<label>Client Account</label>
			</object>
		</object>
	</object>
</wxsmith>
