<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Metrics">
		<size>543,433</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>248,144</pos>
			<size>543,440</size>
			<fg>#AE8633</fg>
			<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
			<handler function="OnPanel1Paint" entry="EVT_PAINT" />
			<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
				<bitmap>943103.jpg</bitmap>
				<pos>0,0</pos>
				<size>544,360</size>
				<enabled>0</enabled>
				<style>0</style>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Number of employees:</label>
				<pos>48,144</pos>
				<font>
					<size>9</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face></face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Total of salaries:</label>
				<pos>48,168</pos>
				<font>
					<size>9</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Arial</face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Number of customers:</label>
				<pos>48,248</pos>
				<font>
					<size>9</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Arial</face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
				<label>Total customer balances: </label>
				<pos>48,272</pos>
				<font>
					<size>9</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face></face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
				<label>Number of loans:</label>
				<pos>312,248</pos>
				<font>
					<size>9</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face></face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
				<label>Total loaned amount:</label>
				<pos>312,272</pos>
				<font>
					<size>9</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face></face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
				<label>Net amount:</label>
				<pos>48,336</pos>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Castellar</face>
				</font>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="btnBack" member="yes">
				<label>BACK</label>
				<pos>32,376</pos>
				<size>75,31</size>
				<fg>wxSYS_COLOUR_WINDOW</fg>
				<bg>#D2AF66</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face></face>
				</font>
				<handler function="OnbtnBackClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="btnExit" member="yes">
				<label>EXIT</label>
				<pos>432,376</pos>
				<size>75,32</size>
				<fg>wxSYS_COLOUR_WINDOW</fg>
				<bg>#D2AF66</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face></face>
				</font>
				<handler function="OnbtnExitClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT8" variable="lblNumEm" member="yes">
				<label></label>
				<pos>232,144</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT9" variable="lblTSal" member="yes">
				<label></label>
				<pos>232,168</pos>
				<size>32,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT10" variable="lblNumCl" member="yes">
				<label></label>
				<pos>232,248</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT11" variable="lblNumLoans" member="yes">
				<label></label>
				<pos>456,248</pos>
				<size>32,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT12" variable="lbllblTAmt" member="yes">
				<label></label>
				<pos>456,272</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT13" variable="lblTBal" member="yes">
				<label></label>
				<pos>232,272</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT14" variable="lblNet" member="yes">
				<label></label>
				<pos>232,336</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="yes">
				<label>MONTHLY</label>
				<pos>48,120</pos>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Castellar</face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
				<label>Capital</label>
				<pos>48,224</pos>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Castellar</face>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticText8" member="yes">
				<label>BANK STATISTICS</label>
				<pos>104,32</pos>
				<font>
					<size>26</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Castellar</face>
				</font>
			</object>
		</object>
	</object>
</wxsmith>
