<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Metrics">
		<size>543,353</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>248,144</pos>
			<size>544,352</size>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Number of employees:</label>
				<pos>40,72</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Total of salaries:</label>
				<pos>40,104</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Number of customers:</label>
				<pos>40,160</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
				<label>Total customer balances: </label>
				<pos>40,192</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
				<label>Number of loans:</label>
				<pos>280,160</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
				<label>Total loaned amount:</label>
				<pos>280,192</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
				<label>Net amount:</label>
				<pos>152,272</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="btnBack" member="yes">
				<label>Back</label>
				<pos>448,280</pos>
				<handler function="OnbtnBackClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="btnExit" member="yes">
				<label>Exit</label>
				<pos>448,312</pos>
				<handler function="OnbtnExitClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT8" variable="lblNumEm" member="yes">
				<label></label>
				<pos>176,72</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT9" variable="lblTSal" member="yes">
				<label></label>
				<pos>144,104</pos>
				<size>32,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT10" variable="lblNumCl" member="yes">
				<label></label>
				<pos>176,160</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT11" variable="lblNumLoans" member="yes">
				<label></label>
				<pos>400,160</pos>
				<size>32,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT12" variable="lbllblTAmt" member="yes">
				<label></label>
				<pos>400,192</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT13" variable="lblTBal" member="yes">
				<label></label>
				<pos>176,192</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT14" variable="lblNet" member="yes">
				<label></label>
				<pos>224,272</pos>
				<size>24,13</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="yes">
				<label>Monthly</label>
				<pos>40,40</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
				<label>Capital</label>
				<pos>40,136</pos>
			</object>
		</object>
	</object>
</wxsmith>
