<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="SelectionMenu">
		<size>404,311</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,0</pos>
			<size>408,248</size>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="lblWelcome" member="yes">
				<label>Welcome: *Name* &#x0A;Employee ID: *ID*</label>
				<pos>16,56</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="btnEFunct" member="yes">
				<label>Employee Functions</label>
				<pos>136,120</pos>
				<size>120,23</size>
				<handler function="OnbtnEFunctClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="btnCFunct" member="yes">
				<label>Client Functions</label>
				<pos>136,160</pos>
				<size>120,23</size>
				<handler function="OnbtnCFunctClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="btnMetr" member="yes">
				<label>Bank Metrics</label>
				<pos>136,200</pos>
				<size>120,23</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="lblDays" member="yes">
				<label>Days to birthday: *days*</label>
				<pos>248,56</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON4" variable="btnLogout" member="yes">
				<label>Logout</label>
				<pos>8,264</pos>
				<handler function="OnbtnLogoutClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON5" variable="btnHelp" member="yes">
				<label>Help Manual</label>
				<pos>312,264</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="lblSelection" member="yes">
				<label>Selection</label>
				<pos>176,24</pos>
			</object>
		</object>
	</object>
</wxsmith>
